@media only screen and (max-width: 1200px) {



}
@media only screen and (max-width: 992px) {

    body{
        padding: 0px 10%;
    }
    header{
        align-items: center;
    }
    .about_me{
        margin-left: auto;
    }
    h2{
        margin-left: 38px;
    }

}
@media only screen and (max-width: 768px) {

    body{
        padding: 0px 5%;
        font-size: .9em;
    }

    header{
        vertical-align: middle;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    h2{
        margin: 0px 38px;
        margin-top: 17px;
    }
    .about_me{
        margin: 0px 50px;
    }

}
@media only screen and (max-width: 480px) {

    body{
        font-size: .8em;
    }
    h2{
        font-size: 2.5em;
    }

}
@media only screen and (max-width: 320px) {



}

